<div class="row">
    <div class="col">
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right"
                    type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Flask Auth</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        {% if current_user.is_authenticated %}
                            <span class="nav-link">Hi {{ current_user.id }}!</span>
                        {% else %}
                            <a class="nav-link" href="/sign-in">Sign In</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        {% if current_user.is_authenticated %}
                           <a class="nav-link" href="/logout">Log out</a>
                        {% else %}
                            <a class="nav-link" href="/sign-up">Sign Up</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>


