{% extends "main_layout.html" %}

{% block content %}
<div class="row">
    <div class="col">
        <form action='sign-in' method='POST'>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" name='email' id='email' placeholder="Enter email">
            </div>
            <div class="form-group">
                <input type='password' class="form-control" name='pw' id='pw' placeholder='password'>
            </div>
            <div class="form-group">
                <button type="submit">Sign In</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}